<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215921613544-2lugcqd65ie0f68o382nbnjf02covmbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215921613544-2lugcqd65ie0f68o382nbnjf02covmbr</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Z1uQFNy1rkFy50ePM17SRc12nn-JJOM</string>
	<key>GCM_SENDER_ID</key>
	<string>215921613544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.retail</string>
	<key>PROJECT_ID</key>
	<string>invman-db</string>
	<key>STORAGE_BUCKET</key>
	<string>invman-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215921613544:ios:a5d3054d6add68b7f4475d</string>
</dict>
</plist>